anyio==4.13.0
bio==1.8.1
biopython==1.87
biothings_client==0.5.0
certifi==2026.2.25
charset-normalizer==3.4.7
gprofiler-official==1.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
loguru==0.7.3
mygene==3.2.2
numpy==2.4.4
packaging==26.0
pandas==3.0.2
platformdirs==4.9.6
pooch==1.9.0
python-dateutil==2.9.0.post0
requests==2.33.1
six==1.17.0
tqdm==4.67.3
urllib3==2.6.3
